/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*= require 'masonry/basic'
*= require 'masonry/centered'
*= require 'masonry/fluid'
*= require 'masonry/gutters'
*= require 'masonry/infinitescroll'
*= require 'masonry/right-to-left'
*= require 'masonry/transitions'
*/


.box{
       
        border: 2px  #0A0A0A;
        border: 2px solid #FAFAFA;
        width: 600px;
        box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
      }
.masonry-container{
  background-color: #F6FFFF;
  width: 200%;
  position:absolute;
left:0;
right:0;
}

#animate-item-size-responsive .box {
  width: 40%;
  height: 60px;
}

#animate-item-size-responsive .box{
  width:  100%;
  height: 100%;
  background: #B8FFB8;
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}
/* item has expanded size */
#animate-item-size-responsive .box.is-expanded {
  width: 60%;
  height: 120px;
}
.thumbclass {
/*The following will work in almost all browsers*/
  max-height:25px;
  max-width:25px;
   border: 0px ;
    border-radius: 50%;
    overflow:hidden;
}

#imagebox{
  padding-bottom: 201111111111111px;
  border-radius: 10px;
}

