<footer class="footer">
  <small>
    by GreenGrass
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.com/">News</a></li>
    </ul>
  </nav>
</footer>